<h1> <%= @employee.to_s %></h1>
<p> <%= @employee.alias %></p>
<p> <%= @employee.title %></p>
<p> <%= @employee.office %></p>

<%= image_tag @employee.img_url %>

<h3>Dogs</h3>
<p> <%= link_to Dog.find(@employee.dog_id).name, dog_path(@employee.dog_id) %></p>